<% include challenge-header%>
<div class="setup-background">
    <div class="setup-window">
        <div class="challenge-section">
            <span class="login-title">Challenge Setup</span>
            <span class="login-subtitle">You will be given a private GitHub repository where you will upload your
                solutions to the challenges.
            </span>
        </div>
        <div class="challenge-section">
            <span class="login-subtitle">Click Here to Create Your GitHub Repo</span>
            <a class="button" href="/create-branch">Create Repository</a>
        </div>
    </div>
</div>
<% include challenge-footer %>