<% include challenge-header%>
<div class="challenge-background">
    <div class="challenge-window">
        <div class="no-branch-created">
            <span class="login-title">Challenge Setup</span>
            <span class="login-subtitle">You will be given a personalized GitHub branch in our solutions repository.</span>
            <span class="login-subtitle">Your GitHub branch will be where you upload your solutions.</span>
        </div>
        <div class="create-footer">
            <span class="login-subtitle">Click Here to Create Your GitHub Branch</span>
            <a class="button" href="/create-branch">Create Branch</a>
        </div>
    </div>
</div>
<% include challenge-footer %>