<% include challenge-header %>
<div class="challenge-background">
    <div class="challenge-window">
        <div class="challenge-section">
            <span class="login-subtitle">Please click the following link to be added as a collaborator to your solutions
            repository.</span>
            <span class="login-subtitle">Once you have been given push/pull access to the repository, return to this
            website to receive instructions for the first challenge.</span>
        </div>
        <div class="challenge-section">
            <% if (locals.invite_url) {%>
                <a class="button" href=<%= invite_url %>>Accept Invitation</a>
            <% } %>
        </div>
    </div>
</div>
<% include challenge-footer %>