<% include challenge-header %>
<div class="setup-background">
    <div class="challenge-window">
        <div class="left-pane">
            <div class="challenge-title">
                <span>Challenge #1</span>
            </div>
            <div class="scrollable-body">
                <div class="challenge-description">
                    <span class="description-text">You are a consultant that has been recently assigned to a new
                        client, Transatlantic Transport Inc. This client has asked for an online application that can
                        help them handle the transportation of various goods across the Atlantic Ocean. You are
                        tasked with building this web app from the ground up.</span>
                    <span class="description-text">For the first sprint, the lead on your project wants you to generate
                        the foundation for the project by creating a basic, containerized web server. When a POST
                        request is made to the root path, the server should send the contents of the request body in
                        the response (i.e. sending a POST request with "test" in the body should return a response
                        with "test" in the body). This web server should be set up with a Dockerfile that generates a
                        functional Docker image from the server source code.</span>
                    <span class="description-text">Submit your source code for the web server and the Dockerfile to your
                        solutions repository. This solution repository contains an app.yaml file. DO NOT TOUCH THE
                        APP.YAML FILE. This file is configured to deploy your web server to Google Cloud using the
                        settings you define in your Dockerfile.
                    </span>
                </div>
            </div>
        </div>
        <div class="right-pane">
            <div class="challenge-description">
                <span class="login-title">Deliverable</span>
                <span class="description-text">The following files must be pushed to your repository:</span>
                <ul class="challenge-list">
                    <li>The source code for your web server</li>
                    <li>A Dockerfile that generates an image from your source code</li>
                </ul>
                <span class="login-title">Example</span>
                <ul class="challenge-list">
                    <li>Input:
                        <ul>
                            <li>POST /</li>
                            <li>Request body: "Hello World"</li>
                        </ul>
                    </li>
                    <li>Output:
                        <ul>
                            <li>200 Status</li>
                            <li>Response body: "Hello World"</li>
                        </ul>
                    </li>
                </ul>
                <span class="login-title">FAQ</span>
                <ul class="challenge-list">
                    <li>You can use any web server you desire as long as the Dockerfile is
                        configured to build the image correctly.</li>
                    <li>Your web server MUST be set to listen on port 8080. This is the port that App Engine instances
                        communicate on.</li>
                </ul>
            </div>
            <% if (locals.repo_url) {%>
                <div class="challenge-description">
                    <a class="button challenge-button" href="/build-status">View Current Build Status</a>
                    <a class="button challenge-button" target="_blank" href=<%= repo_url %>>Visit Your Solution
                        Repository</a>
                </div>
            <% } %>
        </div>
    </div>
</div>
<% include challenge-footer %>