<% include challenge-header %>
<div class="challenge-background">
    <div class="challenge-window">
        <span>Repository has been created for this user.</span>
    </div>
</div>
<% include challenge-footer %>