<% include head %>
<div class="login-screen">
    <img class="login-screen-img" src="/views/stylesheets/atlanta-skyline.jpeg" alt=""/>
    <div class="login-info">
        <div class="login-header">
            <img class="slalom-logo" src="views/stylesheets/slalom-logo.png" alt=""/>
            <div class="login-title">
                <span>Slalom Atlanta Software Engineering</span>
                <span>Recruitment Challenge</span>
            </div>
            <div class="login-subtitle">
                <span>Win a free T-shirt and a potential job interview with Slalom!</span>
            </div>
        </div>
        <div class="login-link">
            <div class="button login-button">
                <img class="github-logo" src="/views/stylesheets/github-square-brands.svg" alt=""/>
                <a class="login-text" href="/login/github">Log In with GitHub</a>
            </div>
        </div>
    </div>
</div>
<% include footer %>